In [13]:
# Load the Pandas libraries with alias 'pd'
import pandas as pd

# Read data from file 'filename.csv'
data_MM = pd.read_csv("MM_2019_Data.csv",)
data_MVS = pd.read_csv("MVS_2019_Data.csv",)

# Combinig dataframes
frames = [data_MM, data_MVS]
comb_df = pd.concat(frames)

# Delete unecesary column ie.'balance' & change labels 
comb_df = comb_df.drop(['Balance'], axis=1)
comb_df = comb_df.rename(columns={"Account Number": "account_number", "Transaction Date": "transaction_date",
                   "Transaction Amount": "transaction_amount", "Transaction Type": "transaction_type",
                   "Transaction Description": "transaction_description", "Category": "category"})

# Changing date format to 'yyyy/mm/dd'
comb_df['transaction_date'] = pd.to_datetime(comb_df['transaction_date'])
comb_df['transaction_date'] = comb_df['transaction_date'].dt.strftime('%Y/%m/%d')

# Set 'transaction Amount' to positive floats
comb_df['transaction_amount'] = comb_df['transaction_amount'].astype('str')
comb_df['transaction_amount'] = comb_df['transaction_amount'].str.replace('-','')
comb_df['transaction_amount'] = comb_df['transaction_amount'].astype('float')

# Separate debit vs credit rows
credit_df = comb_df[(comb_df['transaction_type'] == 'Credit')]
debit_df = comb_df[(comb_df['transaction_type'] == 'Debit')]

# Delete unecesary column ie.'balance'
credit_df = credit_df.drop(['transaction_type'], axis=1)
debit_df = debit_df.drop(['transaction_type'], axis=1)

In [14]:
comb_df

,account_number,transaction_date,transaction_amount,transaction_type,transaction_description,Category
0,7157,2019/12/31,47.00,Debit,BP#9569005BAJAJ GASQPS WHITE PLAINS NY,Transportation
1,7157,2019/12/31,2.00,Debit,WP CENTER PARKING DPT WHITE PLAINS NY,Transportation
2,7157,2019/12/31,4.28,Debit,SQU*SQ *HASTINGS TEA & White Plains NY,Food
3,7157,2019/12/30,9.29,Debit,PAYPAL *SHIJINTAIPE EB 4029357733 CA,Other
4,7157,2019/12/20,3.65,Debit,USA TECH-VEN*USA*CANTE NEW YORK NY Digital Acc...,Food
...,...,...,...,...,...,...
502,8821,2019/01/05,73.86,Debit,Debit Card Purchase - TELCO STORES #1 BROOKLYN...,Shopping
503,8821,2019/01/05,500.00,Credit,ATM Cash Deposit - CAPITAL ONE E399 BROOKLYN NY,Earnings
504,8821,2019/01/05,0.99,Debit,Debit Card Purchase - APL ITUNES COM BILL 800 ...,Entertainment
505,8821,2019/01/03,4.99,Debit,Debit Card Purchase - TARGET T- 445 GOLD ST BR...,Health
506,8821,2019/01/03,32.00,Debit,Debit Card Purchase - MTA*METROCARD MACHINE NE...,Transportation

In [ ]:
# Exporting df as csv
credit_df.to_csv(r'credit_combined.csv', index = False)
debit_df.to_csv(r'debit_combined.csv', index = False)