In [62]:
# Load the Pandas libraries with alias 'pd'
import pandas as pd

# Read data from file 'filename.csv'
data_MM = pd.read_csv("MM_2019_Data.csv",)
data_MVS = pd.read_csv("MVS_2019_Data.csv",)

# Combinig dataframes
frames = [data_MM, data_MVS]
comb_df = pd.concat(frames)

# Delete unecesary column ie.'balance'
comb_df = comb_df.drop(['Balance'], axis=1)

# Changing date format to 'yyyy/mm/dd'
comb_df['Transaction Date'] = pd.to_datetime(comb_df['Transaction Date'])
comb_df['Transaction Date'] = comb_df['Transaction Date'].dt.strftime('%Y/%m/%d')

# Set 'transaction Amount' to positive floats
comb_df['Transaction Amount'] = comb_df['Transaction Amount'].astype('str')
comb_df['Transaction Amount'] = comb_df['Transaction Amount'].str.replace('-','')
comb_df['Transaction Amount'] = comb_df['Transaction Amount'].astype('float')

# Separate debit vs credit rows
credit_df = comb_df[(comb_df['Transaction Type'] == 'Credit')]
debit_df = comb_df[(comb_df['Transaction Type'] == 'Debit')]

# Delete unecesary column ie.'balance'
credit_df = credit_df.drop(['Transaction Type'], axis=1)
debit_df = debit_df.drop(['Transaction Type'], axis=1)


# Exporting df as csv
credit_df.to_csv(r'credit_combined.csv', index = False)
debit_df.to_csv(r'debit_combined.csv', index = False)

In [60]:
credit_df

,Account Number,Transaction Date,Transaction Amount,Transaction Description,Category
8,7157,2019/12/15,830.33,"ONLINE PAYMENT, THANK YOU",Earning
20,7157,2019/12/09,25.00,AUTOPAY 190701043711444RAUTOPAY AUTO-PMT,Earning
21,7157,2019/12/09,18.41,AMZN MKTP US AMZN.COM/ AMZN.COM/BILL WA,Earning
32,7157,2019/12/02,500.00,"ONLINE PAYMENT, THANK YOU",Earning
50,7157,2019/11/15,983.59,"ONLINE PAYMENT, THANK YOU",Earning
...,...,...,...,...,...
479,8821,2019/01/25,682.00,Check Deposit (Mobile),Earnings
483,8821,2019/01/24,200.00,Deposit from 360 Savings XXXXXXX1675,Earnings
487,8821,2019/01/17,100.00,Deposit from 360 Savings XXXXXXX1675,Earnings
494,8821,2019/01/13,156.00,Deposit from 360 Savings XXXXXXX1675,Earnings
503,8821,2019/01/05,500.00,ATM Cash Deposit - CAPITAL ONE E399 BROOKLYN NY,Earnings