In [23]:
# Load the Pandas libraries with alias 'pd'
import pandas as pd
import numpy as np
import json

# Read data from file 'filename.csv'
data_MM = pd.read_csv("MM_2020_data.csv",)
data_MVS = pd.read_csv("MVS_2020_data.csv",)

# Combinig dataframes
frames = [data_MM, data_MVS]
comb_df = pd.concat(frames)

# Changing date format to 'yyyy/mm/dd'
comb_df['transaction_date'] = pd.to_datetime(comb_df['transaction_date'])
comb_df['transaction_date'] = comb_df['transaction_date'].dt.strftime('%Y/%m/%d')

# Set 'transaction Amount' to positive floats
comb_df['transaction_amount'] = comb_df['transaction_amount'].astype('str')
comb_df['transaction_amount'] = comb_df['transaction_amount'].str.replace('-','')
comb_df['transaction_amount'] = comb_df['transaction_amount'].astype('float')

# Separate debit only
# credit_df = comb_df[(comb_df['transaction_type'] == 'Credit')]
debit_df = comb_df[(comb_df['transaction_type'] == 'Debit')]

# Delete unecesary column ie.'transaction_type'
# credit_df = credit_df.drop(['transaction_type'], axis=1)
debit_df = debit_df.drop(['transaction_type'], axis=1)

In [25]:
##################### Useful #####################
# Drop rows based on condition
# comb_df = comb_df[comb_df.category != 'Earning']

# Check for rows with certain value 
    # df3 = comb_df[(comb_df['category'] == 'Food')]
    # df3

# Show unique values in certain column 
# column_values = debit_df[["category"]].values.ravel()
# unique_values =  pd.unique(column_values)
# unique_values

In [31]:
# Empty dictionaries to separate months 
jan = []
feb = []
mar = []
apr = []
may = []
jun = []
jul = []
aug = []
sep = []
oct = []
nov = []
dec = []

#  Organize data according to months
for index, row in debit_df.iterrows(): 
    if row['transaction_date'] in pd.date_range(start='1/1/2020', end='1/31/2020'):
        jan.append(row)
    elif row['transaction_date'] in pd.date_range(start='2/1/2020', end='2/29/2020'):
        feb.append(row)
    elif row['transaction_date'] in pd.date_range(start='3/1/2020', end='3/31/2020'):
        mar.append(row)
    elif row['transaction_date'] in pd.date_range(start='4/1/2020', end='4/30/2020'):
        apr.append(row)
    elif row['transaction_date'] in pd.date_range(start='5/1/2020', end='5/31/2020'):
        may.append(row)
    elif row['transaction_date'] in pd.date_range(start='6/1/2020', end='6/30/2020'):
        jun.append(row)
    elif row['transaction_date'] in pd.date_range(start='7/1/2020', end='7/31/2020'):
        jul.append(row)
    elif row['transaction_date'] in pd.date_range(start='8/1/2020', end='8/31/2020'):
        aug.append(row)
    elif row['transaction_date'] in pd.date_range(start='9/1/2020', end='9/30/2020'):
        sep.append(row)
    elif row['transaction_date'] in pd.date_range(start='10/1/2020', end='10/31/2020'):
        oct.append(row)
    elif row['transaction_date'] in pd.date_range(start='11/1/2020', end='11/30/2020'):
        nov.append(row)
    else:
        dec.append(row)
        
# Convert dictionaries to df 
january = pd.DataFrame.from_dict(jan)
february = pd.DataFrame.from_dict(feb)
march = pd.DataFrame.from_dict(mar)
april = pd.DataFrame.from_dict(apr)
may = pd.DataFrame.from_dict(may)
june = pd.DataFrame.from_dict(jun)
july = pd.DataFrame.from_dict(jul)
august = pd.DataFrame.from_dict(aug)
september = pd.DataFrame.from_dict(sep)
october = pd.DataFrame.from_dict(oct)
november = pd.DataFrame.from_dict(nov)
december = pd.DataFrame.from_dict(dec)

,account_number,transaction_date,transaction_amount,transaction_description,category
89,7157,2020/01/31,7.25,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
90,7157,2020/01/31,8.75,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
91,7157,2020/01/31,35.00,MTA*MNR STATION TIX NEW YORK NY,Transportation
92,7157,2020/01/31,70.00,STATUE CRUISES JERSEY CITY NJ,Travel
93,7157,2020/01/31,111.65,KUU NEW YORK NY,Food
94,7157,2020/01/31,90.76,EMPIRE STATE OBSERVATO 2127363100 NY,Entertainment
95,7157,2020/01/29,55.00,MTA*METROCARD MACHINE NEW YORK NY,Transportation
96,7157,2020/01/29,22.47,7-ELEVEN 25986 YONKERS NY,Food
97,7157,2020/01/28,1.30,DOF PARKING SERVICE FE 2126399675 NY,Transportation
98,7157,2020/01/28,65.00,DOF PARKING OPERATIONS 2126399675 NY,Transportation
100,7157,2020/01/27,3.00,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
101,7157,2020/01/27,9.75,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
102,7157,2020/01/26,5.64,SUNOCO 0267249100 QPS ROSCOE NY,Transportation
103,7157,2020/01/26,21.68,SUNOCO 0267249100 QPS ROSCOE NY,Transportation
104,7157,2020/01/25,3.00,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
105,7157,2020/01/23,8.50,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
106,7157,2020/01/23,8.75,MTA*MNR ETIX TICKET 877-690-5116 NY,Transportation
107,7157,2020/01/22,25.85,AMSTERDAM BILLARDS 212-995-0333 NY,Entertainment
108,7157,2020/01/22,61.26,1ST STREET MAGIC WASH MOUNT VERNON NY,Transportation
109,7157,2020/01/22,33.98,2112 AMC 19TH ST EAST NEW YORK NY,Entertainment
110,7157,2020/01/21,15.25,BP#1713270MT VERNONQPS MOUNT VERNON NY,Transportation
111,7157,2020/01/21,27.23,BP#1713270MT VERNONQPS 9146682285 NY,Transportation
112,7157,2020/01/20,14.12,INTEREST CHARGED TO STANDARD PURCH,Other
114,7157,2020/01/05,73.41,SKECHERS-USA #649 YONKERS NY,Shopping
115,7157,2020/01/04,4.99,Spotify USA New York NY,Entertainment
116,7157,2020/01/01,12.00,WIX.COM*577615001 NEW YORK NY,Other
70,8821,2020/01/31,39.98,Debit Card Purchase - ARITZIA SOHO 524 BROAD N...,Shopping
71,8821,2020/01/31,26.52,Debit Card Purchase - 0271 FOREVER 21 NEW YORK...,Shopping
73,8821,2020/01/28,5.00,Withdrawal from Acorns Invest Transfer,Investment
74,8821,2020/01/27,127.00,Debit Card Purchase - MTA*METROCARD MACHINE NE...,Transportation
76,8821,2020/01/24,4.99,Debit Card Purchase - APPLE COM BILL 866 712 7...,Entertainment
77,8821,2020/01/23,20.21,Debit Card Purchase - UBER EATS 8005928996 CA,Food
78,8821,2020/01/22,5.00,Withdrawal from Acorns Invest Transfer,Investment
79,8821,2020/01/21,10.00,Money sent to 13475640910,Shopping
80,8821,2020/01/17,22.98,Withdrawal from PLANET FIT CLUB FEES,Health
81,8821,2020/01/17,10.88,Debit Card Purchase - APPLE COM BILL 866 712 7...,Health
82,8821,2020/01/16,35.00,Debit Card Purchase - VICTORIA'S SECRET #158 S...,Shopping
84,8821,2020/01/15,5.00,Withdrawal from Acorns Invest Transfer,Investment
85,8821,2020/01/14,48.39,Debit Card Purchase - WALMART COM 8009666546 AR,Shopping
86,8821,2020/01/13,1.00,Withdrawal from Subscription Acorns,Investment
88,8821,2020/01/11,60.79,Debit Card Purchase - CUROLOGY 8588591188 CA,Health
90,8821,2020/01/08,5.00,Withdrawal from Acorns Invest Transfer,Investment
91,8821,2020/01/06,32.65,Debit Card Purchase - URBAN OUTFITTERS 166 A B...,Shopping
92,8821,2020/01/06,31.54,Debit Card Purchase - MICHAELS STORES 1276 2 B...,Shopping
93,8821,2020/01/04,0.99,Debit Card Purchase - APPLE COM BILL 866 712 7...,Entertainment
94,8821,2020/01/02,1.00,Withdrawal from Subscription Acorns,Investment

In [27]:
# Create JSON dictionary:
data_dict = []    

# Function to calculate expenses and add to the new json dictionary
def calculate_expense_per_category(data_dictionary, data, month, acct_num ): 
    data_dictionary.append({'Month':month,
        'Education':(data[(data['category']=='Education') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Entertainment':(data[(data['category']=='Entertainment') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Food':(data[(data['category']=='Food') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Health':(data[(data['category']=='Health') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Investment':(data[(data['category']=='Investment') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Other':(data[(data['category']=='Other') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Shopping':(data[(data['category']=='Shopping') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'Transportation':(data[(data['category']=='Transportation') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()), 
        'Travel':(data[(data['category']=='Travel') & 
                            (data['account_number']==acct_num)]['transaction_amount'].sum()),
        'account_number':acct_num})

calculate_expense_per_category(data_dict, january, 'January', 7157)
calculate_expense_per_category(data_dict, february, 'February', 7157)
calculate_expense_per_category(data_dict, march, 'March', 7157)
calculate_expense_per_category(data_dict, april, 'April', 7157)
calculate_expense_per_category(data_dict, may, 'May', 7157)
calculate_expense_per_category(data_dict, june, 'June', 7157)
calculate_expense_per_category(data_dict, july, 'July', 7157)
calculate_expense_per_category(data_dict, august, 'August', 7157)
calculate_expense_per_category(data_dict, september, 'September', 7157)
calculate_expense_per_category(data_dict, october, 'October', 7157)
calculate_expense_per_category(data_dict, november, 'November', 7157)
calculate_expense_per_category(data_dict, december, 'December', 7157)

calculate_expense_per_category(data_dict, january, 'January', 8821)
calculate_expense_per_category(data_dict, february, 'February', 8821)
calculate_expense_per_category(data_dict, march, 'March', 8821)
calculate_expense_per_category(data_dict, april, 'April', 8821)
calculate_expense_per_category(data_dict, may, 'May', 8821)
calculate_expense_per_category(data_dict, june, 'June', 8821)
calculate_expense_per_category(data_dict, july, 'July', 8821)
calculate_expense_per_category(data_dict, august, 'August', 8821)
calculate_expense_per_category(data_dict, september, 'September', 8821)
calculate_expense_per_category(data_dict, october, 'October', 8821)
calculate_expense_per_category(data_dict, november, 'November', 8821)
calculate_expense_per_category(data_dict, december, 'December', 8821)

KeyError: 'category'

In [7]:
#  Export python dictionary into JSON
with open('monthly_expenses_described.json', 'w') as fp:
    json.dump(data_dict, fp,  indent=4)

In [13]:
# Show unique values in certain column 
column_values = debit_df[["category"]].values.ravel()
unique_values =  pd.unique(column_values)
unique_values

array(['Transportation', 'Food', 'Shopping', 'Entertainment', 'Education',
       'Health', 'Travel', 'Other', 'Investment', 'Earnings'],
      dtype=object)

In [15]:
# Check for rows with certain value 
df3 = debit_df[(debit_df['category'] == 'Earnings')]
df3

,account_number,transaction_date,transaction_description,transaction_amount,category,Season
268,8821,2019/06/20,Debit Card Purchase - MERCARI SAN FRANCISC CA,13.0,Earnings,Spring

In [33]:
# Exporting df as csv
# credit_df.to_csv(r'credit_combined.csv', index = False)
debit_df.to_csv(r'debit_combined_2020.csv', index = False)